#include "../../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Targets/Tests.xcconfig"

_BUNDLE_IDENTIFIER = com.netguru.bitrise.tests
_CODESIGN_PROFILE_SPECIFIER = // Empty by default
_CODESIGN_DEVELOPMENT_TEAM = // Empty by default
_CODESIGN_IDENTITY = // Empty by default
